#header {
    background-color: #fff2cf;
    background-image: url(http://drewfrist.github.io/week4/images/fishbg2.png);
    background-image: repeat-y;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 800px;
}

#logo {
	background-color: black;
	margin: auto;
	width: 800px;
	margin-top: 10px;
}

#intro {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
	text-align: left;
}

#footer {
	width: 100%
	background-color: black;
}

#map {
	position: absolute;
    left: 0px;
    width: 605px;
}

#address {
	position: absolute;
    right: 0px;
    text-align: left;
	
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Crimson Text', serif;
}

#footertext {
	font-family: 'Montserrat', sans-serif;
	color: rgba(225, 225, 225, 1);
	font-size: small;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-decoration: underline;
}