body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	border-bottom: 4px solid #bc4107;
	display: inline-block;
	margin-bottom: 0em;
}

p {
	font-family: 'Crimson Text', serif;
}

#menu a:link {
    color: #ffffff;
    text-decoration: none;
}

#menu a:visited {
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
}

#menu a:hover {
    color: #bc4107;
    text-decoration: none;
}

#menu a:active {
    color: #ffffff;
    text-decoration: none;
    
}

.more {
	font-family: 'Crimson Text', serif;
	font-size: small;
	font-weight: bold;
	font-variant: small-caps;
	color: #ae3c08;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	color: #bc4107;
	margin-bottom: 0em;
}

#screen1 {
    background-color: #fff2cf;
    background-image: url(http://drewfrist.github.io/week4/images/fishbg2.png);
    background-image: repeat-y;
	height: 800px;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}

#menu {
	max-width: 100%;
	height: 50px;
	padding-top: 3px;
	padding-left: 180px;
	margin: 0px;
	background-color: black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: left;
	border: aqua solid;
}


.navigation {
  list-style: none;
  margin: 0;
  background: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: nowrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  color: #bc4107;
  padding: 5.1em;
}






#logo {
	background-color: black;
	margin: auto;
	width: 800px;
	margin-top: 300px;
}

.currentpage {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #bc4107;
}


#screen2 {
	margin:0;
	padding:0;

}

.blackborder {
	max-width: 100%;
	height: 50px;
	background-color: black;
}


#introtext {
	margin-left: auto;
    margin-right: auto;
    width: 800px;
	text-align: left;
}

.bottombar {
	background-color: black;
	height: 200px;
	width: 100% auto;
	padding-top: 30px;
}

.bottomcontain {
	max-width: 700px;
	margin-left: 180px;
	margin-right: auto;
}

.map {
	float: left;
    width: 305px;

}

.address {
	float: left;
    width: 160px;
    margin-top: -10px;
    margin-left: 50px;

}

.contact {
	float: left;
    width: 140px;
    margin-top: 32px;

}

.secondtext {
	font-family: 'Montserrat', sans-serif;
	color: rgba(225, 225, 225, 1);
	font-size: small;
}