body {
    margin: 0;
    padding: 0;
}

#screen1 {
    background-color: #fff2cf;
    background-image: url(http://drewfrist.github.io/week4/images/fishbg2.png);
    background-image: repeat-y;
	top: 0px;
	height: 800px;
}

#logo {
	background-color: black;
	margin: auto;
	width: 800px;
	margin-top: 315px;
}

#introtext {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
	text-align: left;
}

#screen2 [
	margin:0;
	padding:0;
	
]

#blackbar {
	width: 100%
	background-color: black;
}

#map {
	float:left;
}

#address {
	float: right;
	
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Crimson Text', serif;
}

#footertext {
	font-family: 'Montserrat', sans-serif;
	color: rgba(225, 225, 225, 1);
	font-size: small;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-decoration: underline;
}