body {
	background-image: url(http://drewfrist.github.io/week3/images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Helvetica", sans-serif;
	margin: 0px;
	padding: 0px;
}


a {
	color: white;
	text-decoration: none;
	text-size: "30px"	
}

p{
	color: white;
	
}

h1{
	font-size:"30px"
}

.stripe{
	width: 100% auto;
	height: 10px;
	top: 0px;
	background-image: url(http://drewfrist.github.io/week3/images/stripes.png);
	background-image: repeat-y;
}




.body {
	vertical-align: center;
	margin-left: 100px;
}