body {
	background-image: url(http://drewfrist.github.io/week3/images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Helvetica", sans-serif;
	margin: 0px;
	padding: 0px;
}


a {
	color: white;
	text-decoration: none;
	text-size: "30px"	
}

p{
	color: white;
	
}

h1{
	font-size:"30px"
}

.stripe{
	width: 100% auto;
	height: 10px;
	top: 0px;
	background-image: url(http://drewfrist.github.io/week3/images/stripes.png);
	background-image: repeat-y;
}


.body {
	position: fixed;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    border:2px solid black;
}


.body2 {
	position: absolute;
    left: 150px;
    top: 200px;
    border:2px solid black;
}